body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: cornsilk;
}

.navbar {
  background-color: #333;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.navbar li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.header {
  text-align: center;
  padding: 100px 20px 50px;
  background-color: darkgray;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.section {
  padding: 60px 20px;
  margin-top: 60px;
}

.work-folder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.me {
  text-align: center;
}

.work-item {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.current-project {
  position: relative;
  max-width: 700px;
  right: 400px;
  display: flex;
  flex-wrap: wrap;
}
.past-projects {
  max-height: 350px;
  position: relative;
  left: 150px; 
  display: flex;
  flex-wrap: wrap;
}

.featured img {
  width: 300px;
}

@media (max-width: 600px) {
  .featured img {
    width: 100%;
  }
}